.terminal {
  background: rgb(40, 44, 52);
  color: white;
  border-radius: 4px;
  margin: auto;
  width: 50%;
  padding: 0 0.5rem;
}

.terminal-header {
  width: 100%;
  height: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.terminal-header > .terminal-red-button,
.terminal-header > .terminal-yellow-button,
.terminal-header > .terminal-green-button {
  width: 12px;
  height: 12px;
  border-radius: 999px;
  cursor: pointer;
}

.terminal-red-button {
  background: rgb(255, 98, 90);
}

.terminal-yellow-button {
  background: rgb(255, 193, 46);
}

.terminal-green-button {
  background: rgb(41, 206, 66);
}

.terminal-body {
  margin: 0.5rem 0 1.5rem;
  font-family: "Roboto", sans-serif;
}

.terminal-prompt {
  font-weight: bold;
  width: fit-content;
  color: black;
  display: flex;
}

.terminal-prompt-text {
  padding: 0 0.5rem;
  font-size: 14px;
  letter-spacing: 0.0125cm;
  background: rgb(255, 175, 215);
  padding-top: 2px;
}

.triangle-prompt {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(255, 175, 215);
}

.terminal-command {
  color: white;
  font-weight: 100;
  margin: 0 0.5rem;
}

.terminal-output {
  margin: 0.5rem 0;
  white-space: pre;
  text-align: center;
}

.name-text {
  font-size: 40px;
}

.role-text {
  font-weight: 100;
}

.stack-container,
.tools-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 80%;
  margin: 2rem auto;
}

hr {
  border: none;
  height: 0.5px;
  background-color: white;
  width: 80%;
  margin: 1.5rem auto;
}

.github {
  font-weight: bold;
}

.github:visited {
  color: white;
}

.github:hover {
  color: rgb(41, 206, 66);
}
