.terminal {
  color: white;
  border-radius: 4px;
  margin: auto;
  width: 50%;
  box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 40%);
  background: rgba(40, 44, 52, 0.9);
}

/* .terminal-header {
  background: rgb(40, 44, 52);
  height: 1.25rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.terminal-header > .terminal-red-button,
.terminal-header > .terminal-yellow-button,
.terminal-header > .terminal-green-button {
  width: 12px;
  height: 12px;
  border-radius: 999px;
  cursor: pointer;
}

.terminal-red-button {
  background: rgb(255, 98, 90);
}

.terminal-yellow-button {
  background: rgb(255, 193, 46);
}

.terminal-green-button {
  background: rgb(41, 206, 66);
} */

.terminal-body {
  padding: 0.5rem 0.5rem 2.5rem;
  font-family: "Roboto", sans-serif;
}

.terminal-prompt {
  font-weight: bold;
  width: fit-content;
  color: black;
  display: flex;
}

.terminal-directory-text {
  padding: 0 0.5rem;
  font-size: 14px;
  letter-spacing: 0.0125cm;
  background: rgb(255, 175, 215);
  padding-top: 2px;
}

.triangle-prompt {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(255, 175, 215);
}

.terminal-command {
  color: white;
  font-weight: 100;
  margin: 0 0.5rem;
}

.terminal-output {
  margin: 0.5rem 0;
  white-space: pre;
  text-align: center;
}

.typewriter {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/* Tablet size */
@media (max-width: 1024px) {
  .terminal {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }
}

/* Mobile landscape size */
@media only screen and (min-height: 412px) and (max-width: 1024px) and (orientation: landscape) {
  .terminal-body {
    height: 60vh;
    overflow: scroll;
  }
}
