.menubar {
  display: flex;
  background: rgba(71, 71, 74);
  color: white;
  padding: 0.125rem 1.25rem;
  font-family: "Roboto", sans-serif;
  cursor: default;
  align-items: center;
}

.wrapper-menu-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}
