@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: url("./images/wallpaper.jpeg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.loader {
  aspect-ratio: 1; /* make height equal to width */
  display: grid;
  -webkit-mask: conic-gradient(from 22deg, #0003, #000);
  mask: conic-gradient(from 22deg, #0003, #000);
  animation: load 1s steps(8) infinite;
}

.loader,
.loader:before {
  --_g: linear-gradient(rgb(255, 255, 255) 0 0) 50%; /* update the color here */
  /*
   * line width: 50%
   * line height: 5%
  */
  background: var(--_g) / 50% 5% space no-repeat,
    var(--_g) / 5% 50% no-repeat space;
}

.loader:before {
  content: "";
  transform: rotate(45deg);
}

@keyframes load {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
